body {
font-family: Arial, sans-serif;
background-color: #008cff;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}


.container {
background: rgb(0, 0, 0);
padding: 20px;
border-radius: 10px;
text-align: center;
box-shadow: 0 0 80px rgb(17, 0, 250);
width: 280px;
height: 320px;
}

input{
padding: 5px;
margin-bottom: 10px;
width: 80px;
text-align: center;
transition: 1000ms;
}
input{

padding: 5px;
margin-bottom: 10px;
width: 80px;
text-align: center;
transition: 1000ms;

}


button{
padding: 5px 10px;
cursor: pointer;
background: #000dff;
color: rgb(255, 255, 255);
border: none;
border-radius: 5px;
}

button:hover {
background: #2bff00;
}


#resultado{
margin-top: 15px;
text-align: center;
padding: 20px;
border-radius: 5px;
background: #feffff;
min-height: 15px;
}